# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Text backups
*~

# Flex output
*/lex.yy.c

# The compiled scanner
*/scanner
LexicalAnalyzer/.DS_Store

.DS_Store

.DS_Store

Parser/parser

Parser/tree.5.l

Parser/tree.5.y

Parser/bparser.tab.c

Parser/bparser.tab.h

Parser/bparser.output

Parser/ast_orig.c

Parser/bparser.tab.h.gch

Parser/sst.h.gch

Parser/sst_tester

LexicalAnalyzer/clexer
