# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Text backups
*~

# Flex output
*/lex.yy.c

# The compiled scanner
*/scanner

# Mac hidden files
*/.DS_Store